@import "font";
@import "var";

body{
  font-family: $font;
  color: $light;
  font-weight: 400;
  line-height: 110%;
  background-color: #1F2023;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.title-h2 {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $grey;
  margin-top: 0;
  margin-bottom: 0;
}

.header{
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 71px;
  position: fixed;
  top: 0;
  z-index: 999;
  &::before{
    display: block;
    content: '';
    width: 100%;
    height: 27px;
    position: absolute;
    background-color: $accent;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__logo {
    background-color: $accent;
    padding: 17px 45px 0 45px;
    border-radius: 10px 0 0 0;
    position: relative;
    &::before{
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-image: url("../images/header-bottom-left.svg");
      position: absolute;
      bottom: -24px;
      left: 0;
    }
    &::after{
      content: '';
      display: block;
      width: 68px;
      height: 71px;
      background-image: url("../images/header-left.svg");
      position: absolute;
      top: 0;
      right: -68px;
    }
  }
  &__link {
    color: $light;
    font-size: 20px;
    background-color: $accent;
    padding: 17px 45px 0 45px;
    border-radius: 0 10px 0 0;
    position: relative;
    &::before{
      content: '';
      display: block;
      width: 68px;
      height: 71px;
      background-image: url("../images/header-right.svg");
      position: absolute;
      top: 0;
      right: 251px;
    }
    &::after{
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-image: url("../images/header-bottom-right.svg");
      position: absolute;
      bottom: -24px;
      right: 0;
    }
  }
}

.container{
  width: 100%;
  max-width: 1860px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.banner {
  display: flex;
  background-image: url("../images/bg-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  padding: 100px 50px;
  margin-top: 135px;
  gap: 50px;
  &__main {
    flex-basis: 59%;
  }
  &__info {
    flex-basis: calc(41% - 50px);
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 149px;
    border: 1px solid $light;
    border-right: none;
    border-radius: 20px 0 0 20px;
    margin-right: 80px;
    padding: 30px;
    position: relative;
    box-sizing: border-box;
    transition: $tr;
    z-index: 1;
    &:hover {
      &::before{
        width: 100%;
        opacity: 1;
        transform: scale(1);
      }
      cursor: pointer;
      .banner__decor {
        background-color: $accent;
        border-color: $accent;
        &::after {
          transform: translate(0) scale(1);
          opacity: 1;
        }
      }
    }
    & + & {
      margin-top: 19px;
    }
    &::before{
      content: '';
      display: block;
      width: 0;
      height: 148px;
      background-color: $accent;
      border: 1px solid $accent;
      position: absolute;
      top: -2px;
      left: -1px;
      border-radius: 20px 0 0 20px;
      z-index: -1;
      opacity: 0;
      //transform: translate(100%) scale(0);
      transform: scale(0);
      transform-origin: bottom left;
      transition: $tr;
    }
  }
  &__text {
    font-weight: 200;
    font-size: 24px;
    line-height: 110%;
    margin-bottom: 0;
    span {
      display: block;
      font-weight: 700;
      font-size: 32px;
      line-height: 110%;
    }
  }
  &__decor {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -80px;
    border: 1px solid $light;
    border-radius: 10px;
    transition: $tr;
    &::before {
      content: '';
      display: block;
      width: 80px;
      height: 149px;
      background-image: url("../images/banner-info-decor.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -2px;
      right: 0;
    }
    &::after {
      content: '';
      display: block;
      width: 80px;
      height: 149px;
      background-image: url("../images/banner-info-decor-hover.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -2px;
      right: 0;
      opacity: 0;
      transform: translate(-1300%) scale(0);
      //transform: scale(0);
      transform-origin: bottom right;
      transition: $tr;
    }
  }
  &__title{
    color: $light;
    font-size: 64px;
    font-weight: 700;
    line-height: 110%;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    max-width: 750px;
    margin-top: 0;
    margin-bottom: 20px;

  }
  &__btn {
    display: block;
    width: 100%;
    color: $light;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: $accent;
    padding: 54px 420px;
    border-radius: 20px;
    border: 1px solid $accent;
    transition: $tr;
    cursor: pointer;
    @media (hover: hover) {
      &:hover{
        background-color: transparent;
      }
    }
  }
}

.banner-box {
  border: 1px solid $light;
  border-radius: 20px;
  margin-bottom: 130px;
  padding: 30px 332px 17px 30px;
  position: relative;
  &__title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-top: 0;
  }
  &__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    max-width: 565px;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__img {
    position: absolute;
    &._electroguitar {
      top: -80px;
      right: -30px;
    }
  }
}

.tag {
  font-weight: 200;
  font-size: 24px;
  display: flex;
  gap: 64px;
  margin-top: 125px;
  animation: move-left 20s infinite linear alternate;

  &__text {
    font-weight: 200;
    font-size: 24px;
    letter-spacing: 1.5px;
    color: $grey;
    position: relative;
    border: 1px solid $grey;
    border-radius: 50px;
    padding: 10px 38px;
    width: 223px;
    &::before {
      content: '';
      display: block;
      border-radius: 100%;
      width: 16px;
      height: 16px;
      background-color: $accent;
      position: absolute;
      top: 14px;
      left: -40px;
    }
  }

  &:hover{
    animation-play-state: paused;
  }
}

@keyframes move-left {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.course {
  display: flex;
  gap: 70px;
  margin-top: 130px;
  &__title {
    flex-basis: 395px;
    margin-top: 10px;
  }
  &__control {
    margin-top: 50px;
  }
  &__content {
    flex-basis: calc(100% - 395px - 70px);
    width: calc(100% - 395px - 70px);
    margin-bottom: 100px;
  }
}

.course-control {
  display: flex;
  align-items: center;
  gap: 20px;
  &__prev, &__next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 1px solid $light;
    border-radius: 100%;
    right: inherit;
    left: inherit;
    position: inherit;
    transition: $tr;
    &:hover {
      background-color: $accent;
      border: 1px solid $accent;
    }
    &::after {
      content: '';
      display: block;
      width: 49px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &__prev {
         &::after {
           background-image: url("../images/ui/arrow-prev.svg");
         }
       }
  &__next {
    &::after {
      background-image: url("../images/ui/arrow-next.svg");
    }
  }
}

.slider-teacher {
  &__item {
    height: 707px;
    background-color: $dark;
    border: 1px solid $dark;
    border-radius: 50px;
    position: relative;
    transition: $tr;
    overflow: hidden;
    &:hover {
      border-color: $accent;
      .slider-teacher__name,
      .slider-teacher__grid {
        opacity: 1;
      }

    }
  }
  &__grid {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: $tr;
  }
  &__img {
    width: 100%;
    //max-height: 637px;
    height: 637px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    border-radius: 50px;
    overflow: hidden;
  }
  &__name {
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    color: $light;
    position: absolute;
    bottom: 30px;
    left: 30px;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0;
    transition: $tr;
    z-index: 1;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 637px;
      background: linear-gradient(43deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.00) 59.08%);
      background-repeat: no-repeat;
      position: absolute;
      left: -30px;
      bottom: -30px;
      z-index: -1;
    }
  }
}

.course__schedule {
  margin-top: 48px;
}

.accordion {
  &__btn {
      font-weight: 600;
      font-size: 32px;
      line-height: 110%;
      letter-spacing: 0.3rem;
      color: #7027E2;
      border-radius: 20px;
      border: none;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 25px 15px 12px 35px;
      margin-bottom: 10px;
      cursor: pointer;
        &::after {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        background-image: url("../images/ui/minus.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
    &.active {
      &::after {
        background-image: url("../images/ui/plus.svg");
      }
    }
  }
  &__panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 20px;
  }
  &__list {
    list-style-type: none;
   // padding-left: 0;
    padding: 20px 25px 20px 30px;
    border-radius: 20px;
    background-color: $light;
  }
  &__item {
    font-weight: 300;
    font-size: 24px;
    line-height: 110%;
    color: $dark;
    display: flex;
    border-bottom: 1px solid $grey;
    padding: 19px 0 21px 28px;
    &:last-child {
      border-bottom: none;
    }
  }
}
